@font-face {
  font-family: "iconfont"; /* Project id 3390710 */
  src: url('iconfont.woff2?t=1657768253373') format('woff2'),
       url('iconfont.woff?t=1657768253373') format('woff'),
       url('iconfont.ttf?t=1657768253373') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-searchyouhuijuan:before {
  content: "\e899";
}

.icon-searchbonus-s:before {
  content: "\e649";
}

.icon-searchxiangyou1:before {
  content: "\e775";
}

.icon-searchsousuo:before {
  content: "\eafe";
}

